nohup.out
classes_1516combined.txt
*.tif
*.png
*.zip
*.jpg
*.pyc
*.prof
*.dot
*.sqlite3
images/
static/images/
static/admin/
static/django_extensions/
static/js/
static/mptt/
static/rest_framework/
migrations/
!rois/test_images/*.tif


